*{
    padding: opx;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.nav {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    margin: 0;
    font-size: 24px; /* Ajustado el tamaño del texto del título */
    
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a.active {
    color: white;
    font-weight:bolder;
    
}

.btnCerrarSesion {
    background-color: #17A2B8;
    color: white;
    border:none;
    padding: 3px 3px;
    cursor: pointer;
    font-size: 11px;
    border-color: black;
    box-shadow: 5px 5px black;
    border: 2px solid black;
    
}

.btnCerrarSesion:hover {
    background-color: #ccb7b2; 
}





